#Ignore everything
*

#Do not ignore these files
!.gitignore
!README.md
!src/main/java/broker/*
!src/main/java/client/*
!src/main/java/common/*
!pom.xml

#The files above are added, disregarding in which subdirectory they are located
#!*/
